@page
@model EasyRez.Pages.DatosFacturacionIndexModel
@{
    ViewData["Title"] = "Consultar RFC";
}
<div class="row">
    <div class="col-8 align-self-start">
        <h2>Sistema Prueba de Easy-Rez</h2>
        <h5>@ViewData["Title"]</h5>
    </div>
</div>
<hr />

<div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-floating">
                <select onchange="BusquedaPor()" asp-for="lstDatosFacturacionActual.TipoEntidadTributaria" class="form-select" id="selDBuscar">
                    <option value="-1" selected disabled>-- Seleccione --</option>
                    <option value="119">Persona Física</option>
                    <option value="120">Persona Moral</option>
                </select>
                <label for="selDBuscar">Buscar por:</label>
            </div>
        </div>
        <div class="d-block d-lg-none">
            <br />
        </div>
        <div class="col-lg-8 d-flex justify-content-end h-50">
            @if (Model.lstDatosFacturacionActual.PaginaActual > 1)
            {
                @Html.ActionLink("<< Anterior", "Anterior", new { pagina = Model.lstDatosFacturacionActual.PaginaActual -1,tipoEntidadTributaria = Model.lstDatosFacturacionActual.TipoEntidadTributaria},
            new { @class = "btn btn-sm btn-primary" })
            }
            else
            {
                @Html.ActionLink("<< Anterior", "Anterior", new { pagina = 1 ,tipoEntidadTributaria = Model.lstDatosFacturacionActual.TipoEntidadTributaria},
            new { @class = "btn btn-sm btn-secondary disabled" })
            }
            <span></span>
            @if (Model.lstDatosFacturacionActual.PaginaActual < Model.lstDatosFacturacionActual.TotalPaginas)
            {
                @Html.ActionLink("Siguiente >>", "Siguiente", new { pagina = Model.lstDatosFacturacionActual.PaginaActual + 1,tipoEntidadTributaria = Model.lstDatosFacturacionActual.TipoEntidadTributaria },
            new { @class = "btn btn-sm btn-primary ms-1" })
            }
            else
            {
                @Html.ActionLink("Siguiente >>", "Siguiente", new { pagina = Model.lstDatosFacturacionActual.TotalPaginas + 1 ,tipoEntidadTributaria = Model.lstDatosFacturacionActual.TipoEntidadTributaria},
            new { @class = "btn btn-sm btn-secondary disabled ms-1" })
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">
            <div class="form-floating">
                <input asp-for="lstDatosFacturacionActual.Resultado.ToList()[0].StrTipoPersona" class="form-control" id="txtDTipoPersona" readonly />
                <label asp-for="lstDatosFacturacionActual.Resultado.ToList()[0].StrTipoPersona" for="txtDTipoPersona">Tipo</label>
            </div>
        </div>
        <div class="d-block d-lg-none">
            <br />
        </div>
        <div class="col-lg-8">
            <div class="form-floating">
                <input asp-for="lstDatosFacturacionActual.Resultado.ToList()[0].RazonSocial" class="form-control" id="txtDRazonSocial" readonly />
                <label asp-for="lstDatosFacturacionActual.Resultado.ToList()[0].RazonSocial" for="txtDRazonSocial">Razón Social</label>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">
            <div class="form-floating">
                <input asp-for="lstDatosFacturacionActual.Resultado.ToList()[0].RFC" class="form-control" id="txtDRFC" readonly />
                <label asp-for="lstDatosFacturacionActual.Resultado.ToList()[0].RFC" for="txtDRFC">RFC</label>
            </div>
        </div>
        <div class="d-block d-lg-none">
            <br />
        </div>
        <div class="col-lg-8">
            <div class="form-floating">
                <input asp-for="lstDatosFacturacionActual.Resultado.ToList()[0].Correo" class="form-control" id="txtDCorreo" readonly />
                <label asp-for="lstDatosFacturacionActual.Resultado.ToList()[0].Correo" for="txtDCorreo">Correo electrónico</label>
            </div>
        </div>
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-hover" id="tblDDatosFacturacion">
        <thead>
            <tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(model => model.lstDatosFacturacionActual.Resultado.ToList()[0].StrMetodoPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lstDatosFacturacionActual.Resultado.ToList()[0].StrUsoCFDIClave)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lstDatosFacturacionActual.Resultado.ToList()[0].StrUsoCFDIDescripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lstDatosFacturacionActual.Resultado.ToList()[0].StrTipoPersona)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lstDatosFacturacionActual.Resultado.ToList()[0].StrRegimenFiscalClave)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lstDatosFacturacionActual.Resultado.ToList()[0].StrRegimenFiscalDescripcion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.lstDatosFacturacionActual.Resultado.ToList())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrMetodoPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrUsoCFDIClave)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrUsoCFDIDescripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrTipoPersona)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrRegimenFiscalClave)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrRegimenFiscalDescripcion)
                    </td>
                    <td>
                        <a asp-page="./AgregarEditarDatosFacturacion" asp-route-id="@item.IdDatoFacturacion">Ver</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function BusquedaPor() {
        d = document.getElementById("lstDatosFacturacionActual_TipoEntidadTributaria").value;
        document.location.href = '/DatosFacturacionIndex?tipoEntidadTributaria=' + d;
    }
</script>