@page
@model ValidacionArchivoModel
@{
    ViewData["Title"] = "Validación de archivo";
}
<div class="row">
    <div class="col-8 align-self-start">
        <h2>Sistema Prueba de Easy-Rez</h2>
        <h5>@ViewData["Title"]</h5>
    </div>
</div>
<hr />
<p>En este módulo se procesan los archivos de Cobranza Domiciliada.</p>

@Html.AntiForgeryToken()
<form method="post" id="frmUploadFile" enctype="multipart/form-data">
    <div class="input-group">
        <input type="file" class="form-control" id="txtUploadFile" asp-for="SubirArchivo.Archivo" 
        aria-describedby="inputGroupFile" aria-label="Cargar" accept="text/plain">
        <button class="btn btn-outline-success" type="submit" id="inputGroupFile" value="Enviar" asp-page-handler="Upload">Enviar</button>
    </div>
    <span asp-validation-for="SubirArchivo.Archivo" class="text-danger"></span>
</form>
@if (TempData["Message"] != null)
{
    if (TempData["Message"].ToString().Contains("OK")){
        <div class="alert alert-success" role="alert">@TempData["Message"]</div>
    }
    if (TempData["Message"].ToString().Contains("ALERTA")){
        <div class="alert alert-warning" role="alert">@TempData["Message"]</div>
    }
    if (TempData["Message"].ToString().Contains("ERROR")){
        <div class="alert alert-danger" role="alert">@TempData["Message"]</div>
    }
}
<br />
<div id="divDownloadFile" class="d-flex justify-content-end">
    <button type="button" id="btnDownloadFile" class="btn btn-success">Descargar archivo</button>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {          

            function checkFileExist(urlToFile) {
                var xhr = new XMLHttpRequest();
                xhr.open('HEAD', urlToFile, false);
                xhr.send();

                if (xhr.status == "404") {
                    return false;
                } else {
                    return true;
                }
            }

            function download(url) {
                const a = document.createElement('a')
                a.href = url
                a.download = url.split('/').pop()
                document.body.appendChild(a)
                a.click()
                document.body.removeChild(a)
            }

            $("#btnDownloadFile").on("click",function(){
                var result = checkFileExist("/files/Procesado.txt");
                if(result){
                    download("/files/Procesado.txt");
                } else {
                    alert('Aún no hay archivo procesado.');
                }
            });
        })
    </script>
}



@*@section Scripts{
    <script>
        $(document).ready(function () {
            $('#txtUploadFile').on("change", function(){
                var filename = $(this).val().split("\\").pop();
                console.log(filename);
            });
        })
    </script>
}*@


@*<div id="divFiles">
    @Partial("~/Views/Files/Index.cshtml");
</div>*@


@*<p>En este módulo se procesan los archivos de Cobranza Domiciliada.</p>
@Html.AntiForgeryToken();
<form method="post" id="frmUploadFile" enctype="multipart/form-data">
    <div class="input-group">
        <input type="file" class="form-control" id="txtUploadFile" aria-describedby="inputGroupFile" aria-label="Cargar">
        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFile">Enviar</button>
    </div>
</form>
<br />
<div id="divProcessing">
    <p>Avance actual del procesamiento del archivo</p>
    <div id="divProProcessFile" class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id="proProcessFile" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
    </div>
    <br />
</div>
<div class="divLogProcesamiento">
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <td>Línea</td>
                <td>Descripción</td>
                <td>Nombre del archivo</td>
                <td>Tipo</td>
                <td>Fecha y Hora</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <hr />
</div>




*@